body,
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #34B243;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  color: #34B243;
}
a:focus,
a:hover {
  color: #288b34;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.shop-item h2 {
  color: #34B243;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  /* Rectangle: */
  background-color: #4CB648;
  background-image: linear-gradient(-136deg, #2C9028 0%, #0F370C 100%);
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.cta {
  padding-top: 2em;
  padding-bottom: 2em;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}
section.shop-item {
  padding: 50px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
.no-overflow {
  overflow: hidden;
}
.mt {
  margin-top: 2em;
}
.mb {
  margin-bottom: 2em;
}
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  background-image: url('../img/justlogowhite.png');
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 50px;
  color: #34B243;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:focus,
.navbar-default .navbar-header .navbar-brand:hover {
  color: #288b34;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #34B243;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #34B243 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
.navbar-default .nav > li > a i {
  font-size: 16px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:focus,
  .navbar-default .navbar-header .navbar-brand:hover {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #34B243;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:focus,
  .navbar-default.affix .navbar-header .navbar-brand:hover {
    color: #288b34;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #34B243;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-size: cover;
  background-image: url('../img/header.jpg');
  text-align: center;
  color: white;
  overflow: hidden;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
header .header-content .header-content-inner img {
  margin-bottom: 1em;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner .big-logo {
  background-image: url('../img/whitegr.png');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: contain;
  height: 251px;
}
header .header-content .header-content-inner .enzo-logo {
  background-image: url('../img/enzo.png');
  height: 30px;
  margin-top: 13em;
}
header .header-content .header-content-inner .small-logo {
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: contain;
  position: relative;
  margin-bottom: 0.5em;
}
header .header-content .header-content-inner .justfit-logo {
  background-image: url('../img/justfit.png');
  height: 74px;
  margin-top: 12em;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p.header-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
header .header-content .header-content-inner p {
  font-size: 16px;
  max-width: 80%;
  color: rgba(255, 255, 255, 0.7);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  header {
    overflow: auto;
    clear: both;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p.header-text {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner p {
    font-size: 16px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 760px) {
  header {
    background-image: url('../img/mb.jpg');
  }
  header .header-content {
    padding-top: 100px;
  }
  header .header-content .header-content-inner p {
    max-width: 100%;
    color: rgba(255, 255, 255, 0.9);
  }
  header .header-content .header-content-inner p.header-text {
    color: rgba(255, 255, 255, 0.9);
  }
  header .header-content .header-content-inner hr {
    border-color: transparent;
  }
  header .header-content .header-content-inner .justfit-logo {
    margin-top: 0;
  }
  header .header-content .header-content-inner .enzo-logo {
    margin-top: 0;
  }
}
.wizard {
  background: #fff;
  border-radius: 25px;
  color: #333;
  margin-top: 2em;
}
.wizard form {
  margin-left: 10%;
  margin-right: 10%;
}
.wizard .nav-tabs {
  position: relative;
  margin-bottom: 0;
  border-bottom-color: #34B243;
  border-bottom: 2px solid #34B243;
}
.wizard > div.wizard-inner {
  position: relative;
}
.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:focus,
.wizard .nav-tabs > li.active > a:hover {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}
span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tab i {
  color: #555555;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #34B243;
}
.wizard li.active span.round-tab i {
  color: #34B243;
}
span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}
.wizard .nav-tabs > li {
  width: 20%;
}
.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0;
  border: 5px solid transparent;
  border-bottom-color: #34B243;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0;
  border: 10px solid transparent;
  border-bottom-color: #34B243;
}
.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}
.wizard .nav-tabs > li a:hover {
  background: transparent;
}
.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
}
.wizard .tab-pane .form-inline,
.wizard .tab-pane ul {
  margin-top: 3em;
}
.wizard .tab-pane ul li {
  padding-bottom: 5px;
}
.wizard h3 {
  margin-top: 0;
}
@media (max-width: 585px) {
  .wizard {
    height: auto !important;
  }
  .wizard .form-inline,
  .wizard .tab-pane ul li {
    width: 100%;
  }
  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}
@media (max-width: 993px) {
  .wizard .form-inline {
    width: 90%;
  }
}
.section-heading {
  margin-top: 0;
}
#whom {
  background-image: url('../img/whom-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
#whom .container {
  margin-top: 5em;
}
#whom2 {
  background-image: url('../img/whom.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}
#whom2 .container {
  margin-top: 3em;
}
#whom2 .overlay-dark {
  background: rgba(0, 0, 0, 0);
}
@media (max-width: 992px) {
  #whom2 .overlay-dark {
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 100%;
    z-index: 2;
    padding: 100px 0;
  }
}
@media (max-width: 992px) {
  section#whom2 {
    padding: 0;
  }
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.7);
}
.service-box p.text-muted {
  color: rgba(255, 255, 255, 0.8);
}
#healthy .service-box .sr-icons {
  height: 5.9em;
}
ul.menu-days li.menuli {
  padding-bottom: 2em;
}
ul.menu-days li.active a {
  color: #fff;
}
ul.menu-days li a {
  color: #b3b3b3;
  font-size: 16px;
}
ul.menu-days li a:focus,
ul.menu-days li a:hover {
  color: #fff;
  cursor: pointer;
  background-color: transparent !important;
}
.item img {
  border-radius: 25px 25px 0 0;
}
.item {
  padding: 15px;
}
.food-info {
  background-color: white;
  padding: 1.2em;
  margin-bottom: 2em;
  color: #333;
  border-radius: 0 0 25px 25px;
}
.food-info p {
  margin-bottom: 10px;
}
.food-info .text-primary {
  height: 45px;
}
.week-info {
  background-color: white;
  margin-bottom: 2em;
  border-radius: 25px;
  height: 400px;
  color: #333;
}
.week-info h4 {
  margin-top: 0;
  padding-top: 5em;
}
.week-info img {
  height: 4em;
}
.week-info .pattern {
  margin-top: 3.6em;
  height: 4em;
}
@media only screen and (max-width: 992px) {
  .week-info {
    height: 306px;
  }
  .week-info h4 {
    padding-top: 2.4em;
  }
  .week-info .pattern {
    height: 3em;
    margin-top: 0;
  }
}
@media only screen and (max-device-width: 1200px) and (min-device-width: 992px) {
  .week-info {
    height: 355px;
  }
  .week-info .pattern {
    height: 3em;
  }
  .week-info h4 {
    padding-top: 3.6em;
  }
}
@media only screen and (max-width: 768px) and (min-width: 520px) {
  .carousel-inner {
    padding-left: 3em;
    padding-right: 3em;
  }
}
.bg-dark img {
  padding: 0;
}
.call-to-action {
  margin-top: 8.2em;
  margin-bottom: 5.5em;
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
@media only screen and (max-width: 520px) {
  .call-to-action h2 {
    font-size: 20px;
  }
}
#contact {
  padding: 100px 0 40px;
}
.blog-post:nth-child(even) {
  background-color: #eeeeee;
}
@media only screen and (max-width: 992px) {
  .blog-post img {
    max-height: 9em;
  }
}
.pattern {
  background-image: url("../img/pat1.png");
  background-size: contain;
  height: 4.5em;
  background-repeat: repeat;
  border-radius: 25px;
}
.text-primary {
  color: #23772d;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #fff;
}
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: none;
}
.sr-icons {
  height: 5.5em;
}
.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
.btn-default .badge {
  color: white;
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #34B243;
  border-color: #34B243;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #2e9e3c;
  border-color: #2c9639;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #34B243;
  border-color: #34B243;
}
.btn-primary .badge {
  color: #34B243;
  background-color: white;
}
.btn-secondary {
  color: #34B243;
  background-color: white;
  border-color: #34B243;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  border: 2px solid !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  color: #34B243;
  background-color: #f2f2f2;
  border-color: #2c9639;
}
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  background-image: none;
}
.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled.focus,
.btn-secondary[disabled].focus,
fieldset[disabled] .btn-secondary.focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
  background-color: white;
  border-color: #34B243;
}
.btn-secondary .badge {
  color: white;
  background-color: #34B243;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 520px) {
  .btn {
    width: 100%;
  }
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}
/*# sourceMappingURL=creative.css.map */