@import "variables.less";
@import "mixins.less"; // Global Components

body,
html {
  height: 100%;
  width: 100%;
}

body {
  .serif-font;
}

hr {
  border-color: @theme-primary;
  border-width: 3px;
  max-width: 50px;
}

hr.light {
  border-color: white;
}

a {
  .transition-all;
  color: @theme-primary;

  &:focus,
  &:hover {
    color: darken(@theme-primary, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .sans-serif-font;
}

.shop-item h2 {
  color: @theme-primary
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  // background-color: @theme-primary;
  /* Rectangle: */
  background-color: #4CB648;
  background-image: linear-gradient(-136deg, #2C9028 0%, #0F370C 100%);
}

.bg-dark {
  background-color: @gray-darker;
  color: white;
}

.cta {
  padding-top: 2em;
  padding-bottom: 2em;
}

.text-faded {
  color: fade(white, 70%);
}

section {
  padding: 100px 0;
}

section.shop-item {
  padding: 50px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.no-overflow {
  overflow: hidden;
}

.mt {
  margin-top: 2em;
}

.mb {
  margin-bottom: 2em;
}
// Navigation

.navbar-default {
  background-color: white;
  border-color: fade(@gray-darker, 5%);
  .sans-serif-font;
  .transition-all;

  .navbar-header .navbar-brand {
    background-image: url('../img/justlogowhite.png');
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 50px;
    color: @theme-primary;
    .sans-serif-font;
    font-weight: 700;
    text-transform: uppercase;

    &:focus,
    &:hover {
      color: darken(@theme-primary, 10%);
    }
  }

  .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: @gray-darker;
    text-transform: uppercase;
  }

  .nav {
    > li {
       > a,
      > a:focus {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: @gray-darker;

        &:hover {
          color: @theme-primary;
        }
      }

      &.active {
         > a,
        > a:focus {
          color: @theme-primary !important;
          background-color: transparent;

          &:hover {
            background-color: transparent;
          }
        }
      }

      > a i {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  @media (min-width: 768px) {
    background-color: transparent;
    border-color: fade(white, 30%);

    .navbar-header .navbar-brand {
      color: fade(white, 70%);

      &:focus,
      &:hover {
        color: white;
      }
    }

    .nav > li > a,
    .nav > li > a:focus {
      color: fade(white, 70%);

      &:hover {
        color: white;
      }
    }

    &.affix {
      background-color: white;
      border-color: fade(@gray-darker, 5%);

      .navbar-header .navbar-brand {
        color: @theme-primary;
        font-size: 14px;

        &:focus,
        &:hover {
          color: darken(@theme-primary, 10%);
        }
      }

      .nav > li > a,
      .nav > li > a:focus {
        color: @gray-darker;

        &:hover {
          color: @theme-primary;
        }
      }
    }
  }
}
// Homepage Header

header {
  position: relative;
  width: 100%;
  min-height: auto;
  .background-cover;
  background-position: center;
  background-size: cover;
  background-image: url('../img/header.jpg');
  text-align: center;
  color: white;
  overflow: hidden;

  .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 100%;
    z-index: 2;

    .header-content-inner {
      img {
        margin-bottom: 1em;
      }

      h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
      }

      .big-logo {
        background-image: url('../img/whitegr.png');
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        background-size: contain;
        height: 251px;
      }

      .enzo-logo {
        background-image: url('../img/enzo.png');
        height: 30px;
        margin-top: 13em;
      }

      .small-logo {
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        background-size: contain;
        position: relative;
        // transform: translateY(100%);
        margin-bottom: 0.5em;
      }

      .justfit-logo {
        background-image: url('../img/justfit.png');
        height: 74px;
margin-top: 12em;
      }

      hr {
        margin: 30px auto;
      }

      p.header-text {
        color: fade(white, 70%);
        font-size: 16px;
        margin-bottom: 50px;
      }

      p {
        font-size: 16px;
        max-width: 80%;
        color: fade(white, 70%);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  @media (min-width: 768px) {
    overflow: auto;
    clear: both;

    .header-content {
      .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;

        h1 {
          font-size: 50px;
        }

        p.header-text {
          font-size: 18px;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
        }

        p {
          font-size: 16px;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
@media (max-width: 760px) {
  header {
    background-image: url('../img/mb.jpg');

    .header-content {
      padding-top: 100px;

      .header-content-inner {
        p {
          max-width: 100%;
          color: rgba(255, 255, 255, 0.9);
        }

        p.header-text {
          color: rgba(255, 255, 255, 0.9);
        }

        hr {
          border-color: transparent;
        }

        .justfit-logo {
          margin-top: 0;
        }
        .enzo-logo {
          margin-top: 0;
        }
      }
    }
  }
}
// Calculator

.wizard {
  background: #fff;
  border-radius: 25px;
  color: #333;
  margin-top: 2em;

  form {
    margin-left: 10%;
    margin-right: 10%;
  }

  .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: @theme-primary;
    border-bottom: 2px solid @theme-primary;
  }
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:focus,
.wizard .nav-tabs > li.active > a:hover {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tab i {
  color: #555555;
}

.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid @theme-primary;
}

.wizard li.active span.round-tab i {
  color: @theme-primary;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 20%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0;
  border: 5px solid transparent;
  border-bottom-color: @theme-primary;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0;
  border: 10px solid transparent;
  border-bottom-color: @theme-primary;
}

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;

  .form-inline,
  ul {
    margin-top: 3em;
  }

  ul li {
    padding-bottom: 5px;
  }
}

.wizard h3 {
  margin-top: 0;
}
@media (max-width : 585px) {
  .wizard {
    height: auto !important;

    .form-inline,
    .tab-pane ul li {
      width: 100%;
    }
  }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}
@media( max-width : 993px ) {
  .wizard {
    .form-inline {
      width: 90%;
    }
  }
}

.section-heading {
  margin-top: 0;
}
// Whom

#whom {
  background-image: url('../img/whom-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  .container {
    margin-top: 5em;
  }
}

#whom2 {
  background-image: url('../img/whom.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;

  .container {
    margin-top: 3em;
  }

  .overlay-dark {
    background: rgba(000,000,000,0.0);
    @media (max-width: 992px) {
      background: rgba(000,000,000,0.5);
      overflow: hidden;
      height: 100%;
      z-index: 2;
      padding: 100px 0;
    }
  }
}
@media (max-width: 992px) {
  section#whom2 {
    padding: 0;
  }
}

.service-box {
  max-width: 400px;
  margin: 50px auto 0;
  @media (min-width: 992px) {
    margin: 20px auto 0;
  }

  p {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.7);
  }

  p.text-muted {
    color: rgba(255, 255, 255, 0.8);
  }
}
// Healthy

#healthy .service-box .sr-icons {
  height: 5.9em;
}
//Menu

ul.menu-days {
  li.menuli {
    padding-bottom: 2em;
  }

  li.active a {
    color: #fff;
  }

  li a {
    color: darken(#fff, 30%);
    font-size: 16px;

    &:focus,
    &:hover {
      color: #fff;
      cursor: pointer;
      background-color: transparent !important;
    }
  }
}

.item img {
  border-radius: 25px 25px 0 0;
}

.item {
  padding: 15px;
}

.food-info {
  background-color: white;
  padding: 1.2em;
  margin-bottom: 2em;
  color: #333;
  border-radius: 0 0 25px 25px;

  p {
    margin-bottom: 10px;
  }

  .text-primary {
    height: 45px;
  }
}


.week-info {
  background-color: white;
  margin-bottom: 2em;
  border-radius: 25px;
  height: 400px;
  color: #333;


  h4 {
    margin-top: 0;
    padding-top: 5em;
  }

  img {
    height: 4em;
  }
  .pattern {
    margin-top: 3.6em;
        height: 4em;
  }
}

@media only screen and (max-width: 992px) {
.week-info {
  height: 306px;
  h4 {
  padding-top: 2.4em;
  }
  .pattern {
    height: 3em;
    margin-top: 0;
  }
}
}

@media only screen and (max-device-width: 1200px) and (min-device-width: 992px){
.week-info {
  height: 355px;
.pattern {
  height: 3em;
}
h4 {
  padding-top: 3.6em;
}
}

}

@media only screen and (max-width: 768px) and (min-width: 520px){
  .carousel-inner {
    padding-left: 3em;
    padding-right: 3em;
  }
}

.bg-dark img {
  padding: 0;
}

.call-to-action {
  margin-top: 8.2em;
  margin-bottom: 5.5em;

  h2 {
    margin: 0 auto 20px;
  }
}

@media only screen and (max-width: 520px) {
  .call-to-action h2 {
    font-size: 20px;
  }
}
// Contact
#contact {
  padding: 100px 0 40px;
}
//Blog
.blog-post:nth-child(even) {
  background-color: @gray-lighter;
}

@media only screen and (max-width: 992px) {
.blog-post img {
  max-height: 9em;
}
}


.pattern {
  background-image: url("../img/pat1.png");
  background-size: contain;
  height: 4.5em;
  background-repeat: repeat;
  border-radius: 25px;
}

// Bootstrap Overrides
.text-primary {
  color: darken(@theme-primary, 15%);
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #fff;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: none;
}

.sr-icons {
  height: 5.5em;
}
// Button Styles

.btn-default {
  .button-variant(@gray-darker;white;white);
}

.btn-primary {
  .button-variant(white;@theme-primary;@theme-primary);
}

.btn-secondary {
  .button-variant(@theme-primary;white;@theme-primary);
  border: 2px solid !important;
}

.btn {
  .sans-serif-font;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 520px) {
.btn {
  width: 100%
}
}

.btn-xl {
  padding: 15px 30px;
}
// Extras
// -- Highlight Color Customization

::-moz-selection {
  color: white;
  text-shadow: none;
  background: @gray-darker;
}

::selection {
  color: white;
  text-shadow: none;
  background: @gray-darker;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  webkit-tap-highlight-color: @gray-darker;
}
